<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
	<PropertyGroup>
		<WebPublishMethod>MSDeploy</WebPublishMethod>
		<ResourceId>/subscriptions/ebf7b3e8-6fc5-42ec-95a2-4091c0c0445f/resourceGroups/Demo-RG/providers/Microsoft.Web/sites/RiskIdent-FraudDetection</ResourceId>
		<ResourceGroup>Demo-RG</ResourceGroup>
		<PublishProvider>AzureWebSite</PublishProvider>
		<LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
		<LastUsedPlatform>Any CPU</LastUsedPlatform>
		<SiteUrlToLaunchAfterPublish>https://recruitment@riskident.com</SiteUrlToLaunchAfterPublish>
		<LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
		<ExcludeApp_Data>False</ExcludeApp_Data>
		<MSDeployServiceURL>riskident-frauddetection.scm.azurewebsites.net:443</MSDeployServiceURL>
		<DeployIisAppPath>RiskIdent-FraudDetection</DeployIisAppPath>
		<RemoteSitePhysicalPath />
		<SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
		<InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
		<MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
		<EnableMSDeployBackup>True</EnableMSDeployBackup>
		<EnableMsDeployAppOffline>False</EnableMsDeployAppOffline>
		<UserName>$RiskIdent-FraudDetection</UserName>
		<_SavePWD>True</_SavePWD>
		<_DestinationType>AzureWebSite</_DestinationType>
	</PropertyGroup>
</Project>